*{
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: rgb(236, 236, 236);
    overflow-x: hidden;
    scroll-behavior: smooth;
    
    @media(max-width: 550px) {
        font-size: 40%;
      }
}

body{
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}