.footer {
    height: max-content;
    background-color: rgb(53, 90, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    &__header {
        padding: 3rem;
        color: #A6D1E6;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.349);
        font-size: 5rem;
        width: 100vw;
    }

    &__main {
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        color: white;

        @media screen and (max-width: 550px) {
            flex-direction: column;
        }

    }
    &__links {
        width: 50%;
        border-right: 1px solid white;

        @media screen and (max-width: 550px) {
            width: 100%;
            border: none;
        }
    }

    &__social {
        width: 50%;
display: flex;
            flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;

        @media screen and (max-width: 550px) {
            width: 100%;
            border: none;
        }
        &--icons {
            display: flex;
            flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;


            &-icon {
                font-size: 2.5rem;
                margin: 1.5rem;
            }
        }
    }
}

ul{
    list-style: none;
}