header{
    position: relative;
    overflow: hidden;
}

.header {
    height: 700px;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.712)), url('./7082_20210926_113243_206888857_original.JPG');
    background-size: cover;
    background-position: 0px;

    @media screen and (max-width: 1000px){
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.712)), url('./7082_20210926_113243_206888857_original-tab.JPG');
        background-size: cover;
    }

    @media screen and (max-width: 550px){
        background:linear-gradient(0deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.712)), url('./7082_20210926_113243_206888857_original-mob.jpg');
        background-size: cover;
    }
}

.header__circles {

        background-image: url('./towers.jpg.jpg');
        background-size: cover;
        background-position: -250px;
        width: 600px;
        height: 600px;
        border-radius: 100%;
        position:absolute;
        top: -150px;
        right: -100px;
        border: 4px solid white;

    @media screen and (max-width: 1000px){
        background-image: url('./towers-tab.jpg');
        background-position: center;
        top: -190px;
        right: -190px;
    }

    @media screen and (max-width: 700px){
        width: 60vw;
        height: 60vw;
        transform: translateX(-50%);
        top: 20px;;
        left: 50%;;
    }

    @media screen and (max-width: 550px){
        background-image: url('./towers-mob.jpg');
        width: 70vw;
        height: 70vw;
        transform: translateX(-50%);
        top: 20px;;
        left: 50%;;
    }

    

    &::before{
        content: "";
        position: absolute;
        width: 50%;
        height: 50%;
        border-radius: 100%;
        background-image: url('./7082_20210926_124243_207136407_original.JPG');
        background-size: cover;
        background-position: -110px;
        border: 4px solid white;
        top: 450px;
        right: -30px;

        @media screen and (max-width: 1000px){
            background-image: url('./7082_20210926_124243_207136407_original-tab.jpg');

            top: 450px;
            right: 60px;
        }
        @media screen and (max-width: 700px){
            background-image: url('./7082_20210926_124243_207136407_original-tab-mob.jpg');
            top: 55%;
            right: -50px;
        }

    }

    &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 50%;
        border-radius: 100%;
        background-image: url('./7082_20210926_124247_207035528_original.JPG');
        background-size: cover;
        background-position: -50px;
        border: 4px solid white;
        top: 100px;
        right: 450px;

        @media screen and (max-width: 1000px){
            background-image: url('./7082_20210926_124247_207035528_original-tab.JPG');
            top: 140px;
            right: 450px;
        }

        @media screen and (max-width: 700px){
            background-image: url('./7082_20210926_124247_207035528_original-mob.jpg');
            top: 5%;
            left: -50px;
        }
    }
}

blockquote {
    position: absolute;
    top:50%;
    left: 25%;
    transform: translate(-50%, -70%);
    border:none;
    padding: 3rem 1.5rem;
    font-family: $--font-quote;
    font-style: italic;
    line-height: 5rem;;
    font-size: 4.5rem;
    color: #e9e9e9;
    quotes: "\201C""\201D""\2018""\2019";
   
    width: 460px;

    @media screen and (max-width: 1000px){
        top:70%;
        left: 35%;
    }

    @media screen and (max-width: 700px){
        text-align: center;
        top:80%;
        left: 50%;
    }

    @media screen and (max-width: 550px){
        top:70%;
        font-size: 5.5rem;
    }

    &::before{
        content: open-quote;
        font-weight: 800;
        font-size: 7rem;
        color: #f05382;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    &::after{
        content: close-quote;
        font-weight: 800;
        font-size: 7rem;
        color: #f05382;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    @media screen and (max-width: 550px) {
        width: 90vw;
       
    }
}

#first-letter{
    font-family: 'Lobster', cursive;
    font-size: 5rem;;
    font-weight: 100;
    color: rgb(255, 124, 124);
}